body {
    padding-top: 54px;
}

.options a{
    color: #17a2b8 !important;
    text-decoration: none !important;
}

.options a:hover{
    color: #3498db !important;
}

.options .fa{
    width: 16px !important;
}

.options .fa:before{
    padding-right: 5px;
}

.options i{
    font-family: "FontAwesome", -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

#about{
    background-color: #fafafa;
    padding: 10px;
}

#notice{
    background-color: #fafafa;
    padding: 10px;
}

#contact{
    background-color: #fafafa;
    padding: 10px;
}

.fa{
    margin-right: 5px;
}

table .fa {
    font-size: 14px !important;
    font-weight: normal !important;
    text-indent: -13px;
    margin-right: 0px;
}

.text-image img{
    width: 100%;
}

.footer{
    clear: both;
    padding: 3px 5px;
    margin-top: 50px;
    text-align: center;
    font-size: 11px;
}

.text-image{
    display: inline-block;
}

.fa-github{
    font-size: 20px !important;
    text-indent: 0;
}

.panel-header{
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px !important;
}

.btn-primary{
    background-color: #3498db  !important;
    border-color: #3498db ;
}

.btn-primary:hover{
    background-color:  #17a2b8 !important;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}